.example-card {
    width: 300px;
    margin: 4px
  }
  
  .example-header-image {
    background-image: url('https://cdn2.vectorstock.com/i/1000x1000/20/76/man-avatar-profile-vector-21372076.jpg');
    background-size: cover;
  }