.example-card {
  /* max-width: 300px; */
  margin: 4px;
  min-height: 260px;
}
  
.example-header-image {
  background-image: url('https://cdn2.vectorstock.com/i/1000x1000/20/76/man-avatar-profile-vector-21372076.jpg');
  background-size: cover;
}

.mat-card-header {
  float: left;
}

.mat-card-avatar {
  width: 200px;
  height: 200px;
}

.rating {
  position: absolute;
  margin-left: 40px;
  margin-top: 210px !important;
}

.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: #1e90ff;
}
.bad {
  color: #deb0b0;
}
.filled.bad {
  color: #ff1e1e;
}